Folder Structure

DELIVERY
├── .vscode
├── apps
│   ├── api
│   │   ├── src
│   │   ├── test
│   │   ├── Dockerfile
│   │   └── tsconfig.app.json
│   ├── customer
│   │   ├── src
│   │   ├── test
│   │   ├── Dockerfile
│   │   └── tsconfig.app.json
│   └── delivery
│       ├── src
│       ├── test
│       ├── Dockerfile
│       └── tsconfig.app.json
├── dist
├── node_modules
├── .dockerignore
├── .env
├── .eslintrc.js
├── .gitignore
├── .prettierrc.js
├── docker-compose.yml
├── nest-cli.json
├── package.json
├── pnpm-lock.yaml
├── README.md
├── tsconfig.build.json
└── tsconfig.json










use pnpm as the main package manager